body {
    font-family: Arial, Verdana;
    background-color:#000000;
    color:#FFFFFF;
    margin:20px 20px 0px 20px;
}
h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;

}
h2{ font-size: 30px;
    color:#0D0D0D

}
p{
    font-size: 24px;
    padding: 10px 0 0 10px;
}
img{
    width: 250px;
    display: block;
    margin: auto;
    border: 10px white dashed;
    
}
body div{
    min-height: 125px;
    padding: 20px;
    border: 3px white solid;
}
.introduction{
    border-radius: 15px;
    margin-top:15px;
    line-height: 2;
}
.red{
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border: 0 0 2px 5px;
    
}
.blue{
    background-color: #0000FF;
    color: #C4C4C4;
    text-align: left;
    margin-right: 50px;
    border: ;
    top right bottom left
}
.yellow{
    background-color: #FFFF00;
    color: #707070;
    text-align: right;
    margin-left: 50px;
    border-bottom-width: 2px; (fix this)
    border-left-width: 5px;
}
.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right-width: 5px; (fix this)
    border-top-width: 2px;
}
footer{
    background-image: linear-gradient(#000000, #0000ff,  #0066ff, #000000);
    border: 5px solid;
    border-color: #FFFFFF;
}